<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="AspNetVNext" value="https://www.myget.org/F/aspnetmaster/api/v2/" />
		<add key="NuGet" value="https://nuget.org/api/v2/" />
		<add key="Roslyn" value="https://www.myget.org/F/roslyn-nightly/" />
		<add key="DotNet" value="https://www.myget.org/F/dotnet-corefx/" />
	</packageSources>
</configuration>